.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
  background-color: #aeaea6;
}

.header {
  width: 100%;
  background-color: #260bee;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.certificates-button {
  background-color: white;
  color: #6200ea;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

/*
aqui esta la caja del formulario de login
*/
.login-box {
  margin-top: 2rem;
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(118, 114, 114, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.login-box h2 {
  margin-bottom: 1rem;
  color: #1d56f3;
}

.login-box input,
.login-box select,
.login-box button {
  color: #000000;
  background-color: white;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-box button {
  background-color: #6200ea;
  color: white;
  border: none;
  cursor: pointer;
}
